body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
}

body.download {
    width: 100%;
    height: 100vh;
}

body.download .app-info {
    padding: 150px 0;
}

.uk-navbar-nav a {
    color: #fff !important;
}

.uk-navbar-nav a:hover {
    color: rgba(255,255,255,0.5) !important;
}

.app-info {
    width: 100%;
    display: block;
    text-align: center;
    padding: 50px 0;
    color: #fff;
}

.app-info.bottom {
    margin-top: 100px;
}

.app-info.bottom h2 {
    color: #555;
}

.app-info.bottom p {
    color:#666;
}

.app-info h2 {
    color: #fff;
}

.app-info p {
    color: #fff;
}

.app-screens {
    width: 100%;
    display: block;
    padding: 0 0 50px 0;
}

.container {
    width: 70%;
    margin: 0 15%;
}

.landing-app img {
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.app-functions {
    width: 100%;
    display: block;
    padding: 0 0 50px 0;
}

.uk-navbar-container {
    background: transparent !important;
}

.quick-download {
    /* background: linear-gradient(to left, #28a5f5, #1e87f0) !important; */
    width: 100%;
    display: block;
    padding: 100px 0 150px 0;
    color: #fff;
}

footer.main {
    background: linear-gradient(to left, #28a5f5, #1e87f0) !important;
    width: 100%;
    padding: 25px 0;
    color: #fff !important;
    font-size: 13px;
}

footer.main a {
    color: #fff !important;
}

.uk-button {
    border-radius: 5px;
}

.uk-navbar-left {
    padding-left: 50px;
}

.uk-navbar-right {
    padding-right: 50px;
}

.uk-logo img {
    width: 50px;
    height: auto;
}

.mr-40 {
    margin-right: 40px;
}